pkgbase = jitsi-videobridge
	pkgdesc = Jitsi Meet Videobridge
	pkgver = 2.1+273+g072dd44b
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = java-environment
	makedepends = unzip
	makedepends = maven
	depends = java-runtime
	depends = bash
	optdepends = prosody
	noextract = jitsi-videobridge-2.1+273+g072dd44b.tar.gz
	options = !strip
	backup = etc/jitsi-videobridge/config
	backup = etc/jitsi-videobridge/log4j2.xml
	backup = etc/jitsi-videobridge/logging.properties
	backup = etc/jitsi-videobridge/sip-communicator.properties
	source = jitsi-videobridge-2.1+273+g072dd44b.tar.gz::https://github.com/jitsi/jitsi-videobridge/archive/stable/jitsi-meet_4857.tar.gz
	source = config
	source = sip-communicator.properties
	source = service
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = 9cc7420c492d31744499b619472c5a7145f012956291058ee20dc865cfc9cf58
	sha256sums = 5c79dc1e1f5ee04eba3da987c488fc53cb6e4348345cab05ab0ed6d7000f3d9d
	sha256sums = cc9fbf77497bce3c9673b2d144928f11cdd0c0823940c2b60c8369a2f086b9b7
	sha256sums = 1e128b74c791d184f4634ce5eaed6f7f367642e7ba6f513da1387132841ed3de
	sha256sums = 998cbc64def56ab98080ff7150dd0913a5e10325cd2b038cf3db14baf8cb19fc
	sha256sums = 4dd8141e71bbf73b39cf242902e1c1a84a38dc3160ff89e76883d999af10541c

pkgname = jitsi-videobridge

