pkgbase = jitsi-videobridge
	pkgdesc = Jitsi Meet Videobridge
	pkgver = 2.1+202+g5f9377b9
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = java-environment
	makedepends = unzip
	makedepends = maven
	depends = java-runtime
	depends = bash
	optdepends = prosody
	noextract = jitsi-videobridge-2.1+202+g5f9377b9.tar.gz
	options = !strip
	backup = etc/jitsi-videobridge/config
	backup = etc/jitsi-videobridge/log4j2.xml
	backup = etc/jitsi-videobridge/logging.properties
	backup = etc/jitsi-videobridge/sip-communicator.properties
	source = jitsi-videobridge-2.1+202+g5f9377b9.tar.gz::https://github.com/jitsi/jitsi-videobridge/archive/stable/jitsi-meet_4627.tar.gz
	source = config
	source = sip-communicator.properties
	source = service
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = a9f57668426341ddc74518e0442b8514841898bef45e1f22c9252ac593d567a0
	sha256sums = 5c79dc1e1f5ee04eba3da987c488fc53cb6e4348345cab05ab0ed6d7000f3d9d
	sha256sums = cc9fbf77497bce3c9673b2d144928f11cdd0c0823940c2b60c8369a2f086b9b7
	sha256sums = 8bb9de07722b524ba05a047ac8b76a8aa4b2f263a0e0910fcbfe7e58811b3bdb
	sha256sums = 998cbc64def56ab98080ff7150dd0913a5e10325cd2b038cf3db14baf8cb19fc
	sha256sums = 4dd8141e71bbf73b39cf242902e1c1a84a38dc3160ff89e76883d999af10541c

pkgname = jitsi-videobridge

