pkgbase = jitsi-videobridge
	pkgdesc = Jitsi Meet Videobridge
	pkgver = 2.1+202+g5f9377b9
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = java-environment
	makedepends = unzip
	makedepends = maven
	depends = java-runtime
	depends = bash
	optdepends = prosody
	noextract = jitsi-videobridge-2.1+202+g5f9377b9.tar.gz
	options = !strip
	backup = etc/jitsi/videobridge/config
	backup = etc/jitsi/videobridge/log4j2.xml
	backup = etc/jitsi/videobridge/logging.properties
	backup = etc/jitsi/videobridge/callstats-java-sdk.properties
	backup = etc/jitsi/videobridge/sip-communicator.properties
	source = jitsi-videobridge-2.1+202+g5f9377b9.tar.gz::https://github.com/jitsi/jitsi-videobridge/archive/stable/jitsi-meet_4627.tar.gz
	source = videobridge.callstats-java-sdk.properties
	source = videobridge.config
	source = videobridge.sip-communicator.properties
	source = videobridge.log4j2.xml
	source = videobridge.service
	source = sysusers.conf
	source = tmpfiles.conf
	source = sysctl
	sha256sums = a9f57668426341ddc74518e0442b8514841898bef45e1f22c9252ac593d567a0
	sha256sums = 00c521a4c226deb3bebb8b4b6b68234283888464b889c705001b3371154fc9f0
	sha256sums = 46f686cd8ea6bb5f1ec6055d2f16cc72db4baf9d90dea234d10e661b50924624
	sha256sums = cc9fbf77497bce3c9673b2d144928f11cdd0c0823940c2b60c8369a2f086b9b7
	sha256sums = 9fe70e519caa85471799e90749d390dfba561eb0be13ea1307a5efd777e63382
	sha256sums = 993a48122151312b064c9b74999d454e2a719335c74fb936eb658336169b98a1
	sha256sums = 998cbc64def56ab98080ff7150dd0913a5e10325cd2b038cf3db14baf8cb19fc
	sha256sums = 36548f4980dcdbb27e0738c3fd928005d49a7b5c2c65d7a583ebb445626074dd
	sha256sums = 192ebadf43c9b0bc22b3bdbc2b8f440aaf302fce919ccef43b62fa74bf34a14d

pkgname = jitsi-videobridge

