pkgbase = jitsi-meet-prosody
	pkgdesc = Jitsi Meet Prosody Plugins
	pkgver = 1.0.4289
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	optdepends = prosody
	optdepends = lua52
	optdepends = lua52-sec
	optdepends = lua52-zip
	optdepends = lua52-event
	noextract = jitsi-meet-prosody-1.0.4289.tar.gz
	options = !strip
	source = jitsi-meet-prosody-1.0.4289.tar.gz::https://github.com/jitsi/jitsi-meet/archive/stable/jitsi-meet_4857.tar.gz
	sha256sums = f15f9060ddbc650724563d12bfc8f85c88d303ea823fbb402b462d11e23473cd

pkgname = jitsi-meet-prosody

