pkgbase = jitsi-meet-web
	pkgdesc = Jitsi Meet Web
	pkgver = 2.0.5142
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = python
	makedepends = python2
	makedepends = nodejs
	makedepends = npm
	optdepends = nginx
	noextract = jitsi-meet-web-2.0.5142.tar.gz
	options = !strip
	backup = etc/webapps/jitsi-meet-web/logging_config.js
	backup = etc/webapps/jitsi-meet-web/config.js
	backup = etc/webapps/jitsi-meet-web/interface_config.js
	source = jitsi-meet-web-2.0.5142.tar.gz::https://github.com/jitsi/jitsi-meet/archive/stable/jitsi-meet_5142.tar.gz
	sha256sums = 657dc093f716bb547fee8e6f6b6541933025feb82f9fc8d14a53e52b20f78542

pkgname = jitsi-meet-web

