pkgbase = jitsi-meet-web
	pkgdesc = Jitsi Meet Web
	pkgver = 1.0.4289
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = python
	makedepends = python2
	makedepends = nodejs
	makedepends = npm
	optdepends = nginx
	noextract = jitsi-meet-web-1.0.4289.tar.gz
	options = !strip
	backup = etc/webapps/jitsi-meet-web/logging_config.js
	backup = etc/webapps/jitsi-meet-web/config.js
	backup = etc/webapps/jitsi-meet-web/interface_config.js
	source = jitsi-meet-web-1.0.4289.tar.gz::https://github.com/jitsi/jitsi-meet/archive/stable/jitsi-meet_4857.tar.gz
	sha256sums = f15f9060ddbc650724563d12bfc8f85c88d303ea823fbb402b462d11e23473cd

pkgname = jitsi-meet-web

