pkgbase = jitsi-meet
	pkgdesc = Jitsi Meet
	pkgver = 2.0.4627
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	depends = jicofo
	depends = jitsi-meet-prosody
	depends = jitsi-meet-turnserver
	depends = jitsi-meet-web
	depends = jitsi-videobridge
	depends = nginx
	depends = coturn
	depends = prosody
	depends = lua52
	depends = lua52-sec
	depends = lua52-zlib
	options = !strip
	source = service
	sha256sums = bec1f182378124d065ac69133de6f5aade755c201d54cfb22cb5acd159ca8a8f

pkgname = jitsi-meet

