pkgbase = jicofo
	pkgdesc = Jicofo
	pkgver = 1.0+589
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = java-environment
	makedepends = unzip
	makedepends = maven
	depends = java-runtime
	depends = bash
	optdepends = prosody
	noextract = jicofo-1.0+589.tar.gz
	options = !strip
	backup = etc/jicofo/config
	backup = etc/jicofo/logging.properties
	backup = etc/jicofo/sip-communicator.properties
	source = jicofo-1.0+589.tar.gz::https://github.com/jitsi/jicofo/archive/stable/jitsi-meet_4627.tar.gz
	source = config
	source = sip-communicator.properties
	source = service
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = eaf298ee6c7c8e394ff58075e8f5f3d5791952ed2b6a1cac5596dad34113736d
	sha256sums = ba5dffb6cbf6c3cc20a52cbfa34c6796a2571f4bba45054d95477744caeaf8a9
	sha256sums = f295f5f8ee13edd019defc037c60e04c6ea2d30e69cc4a896c010b8570f5efab
	sha256sums = a829f10199dadcaf5f759d496c1f6cd153ae07b1a48c3f65cc97e024cc53e820
	sha256sums = 0681e97ca1e06d8ea7bdec0a874c6fc7a6ea84628923005130cd444547a1b440
	sha256sums = 2e8ee4baac220977a84496cc040e55ed644aa305a1db895914dfc62215a89a65

pkgname = jicofo

