pkgbase = jicofo
	pkgdesc = Jicofo
	pkgver = 1.0+612
	pkgrel = 1
	url = https://jitsi.org/jitsi-meet/
	arch = any
	groups = jitsi-meet,
	groups = celogeek
	license = Apache
	makedepends = java-environment
	makedepends = unzip
	makedepends = maven
	depends = java-runtime
	depends = bash
	optdepends = prosody
	noextract = jicofo-1.0+612.tar.gz
	options = !strip
	backup = etc/jicofo/config
	backup = etc/jicofo/logging.properties
	backup = etc/jicofo/sip-communicator.properties
	source = jicofo-1.0+612.tar.gz::https://github.com/jitsi/jicofo/archive/stable/jitsi-meet_4857.tar.gz
	source = config
	source = sip-communicator.properties
	source = service
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = 84f50d9e7b3561054b342cb776613ed3ba9f49e0198971b16fe2ecc97a8cfa5b
	sha256sums = 537d93f8f8e046c536139f0a75acdf86e2f2bf35d562a012e26a0bcfe6446eaa
	sha256sums = f295f5f8ee13edd019defc037c60e04c6ea2d30e69cc4a896c010b8570f5efab
	sha256sums = 0fd4da92b61bf6299d414f660159fa9ce47caf3b002f75fda82f18ee0e594695
	sha256sums = 0681e97ca1e06d8ea7bdec0a874c6fc7a6ea84628923005130cd444547a1b440
	sha256sums = 2e8ee4baac220977a84496cc040e55ed644aa305a1db895914dfc62215a89a65

pkgname = jicofo

